<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurant Explorer Apps</title>
    <meta name="Description" content="Restaurant Explorer Apps, Author: Daffa H.R">
    <link rel="apple-touch-icon" href="/images/icons/icon-192x192.png" />
    <link rel="manifest" href="manifest.json" />
    <meta name="theme-color" content="#FA8072" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap"
      rel="stylesheet"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <a href="#mainContent" class="skip-link">Go To Content</a>
    <header>
      <div class="wrapper">
        <h1 tabindex="0">Restaurant Explorer Apps</h1>
        <a id="hamburger" href="/" aria-label="Button to Open Sidebar">☰</a>
        <nav id="nav" class="nav">
          <ul class="nav-list">
            <li class="nav-item"><a href="#">Home</a></li>
            <li class="nav-item"><a href="#/favorite">Favorite</a></li>
            <li class="nav-item">
              <a
                href="https://github.com/rabbanee/"
                target="_blank"
                rel="noopener"
                >About Us</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main id="mainContent"></main>
    <footer>
      <p tabindex="0" aria-label="copyright &copy; 2020 - Restaurant Finder">
        copyright &copy; 2020 - Restaurant Finder
      </p>
    </footer>
    <pre-loader></pre-loader>
  </body>
</html>
