<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Explorer Apps</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap" rel="stylesheet">
</head>

<body>
    <a href="#maincontent" class="skip-link">Go To Content</a>
    <header>
        <h1 tabindex="0">Restaurant Explorer Apps</h1>
        <a id="hamburger" href="#" aria-label="Button to Open Sidebar">☰</a>
        <nav id="nav" class="nav">
            <ul class="nav-list">
                <li class="nav-item"><a href="/">Home</a></li>
                <li class="nav-item"><a href="#">Favorite</a></li>
                <li class="nav-item"><a href="https://github.com/rabbanee/" target="_blank">About Us</a></li>
            </ul>
        </nav>
    </header>
    <section class="hero" tabindex="0" aria-label="A Hero/Jumbotron Image">
        <h2 tabindex="0">Find a Restaurant easier!</h2>
    </section>

    <main id="maincontent">
        <section class="restaurant-list">
            <div class="wrapper-search">
                <h2 tabindex="0" aria-label="Explore Restaurant">Explore Restaurant</h2>
                <div class="wrapper-input">
                    <input type="text" name="search" id="search-input" placeholder="Search Restaurant by Name or City">
                    <button type="button" class="search-button">Search</button>
                </div>
            </div>
            <div class="wrapper">

            </div>
            <div class="empty"></div>
        </section>
    </main>
    <footer>
        <p tabindex="0" aria-label="copyright &copy; 2020 - Restaurant Finder">copyright &copy; 2020 - Restaurant Finder
        </p>
    </footer>
</body>

</html>